# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.local
.env.*.local

# Build output
dist/
build/

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Other files to exclude
/src/misc/
/playground/*
files/exports/ssi/
files/exports/ech/